fastai==2.8.1
matplotlib==3.10.1
numpy==1.21.5
opencv_python==4.11.0.86
Pillow==9.0.1
Pillow==11.2.1
setuptools==59.6.0
skimage==0.0
torch==2.2.1
torch_xla==2.7.0
torchsummary==1.5.1
torchvision==0.17.1
torchviz==0.0.3
tqdm==4.67.1
