fastai==2.7.19
matplotlib==3.10.1
numpy==2.2.4
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.1.0
setuptools==75.8.0
skimage==0.0
torch==2.5.0+cu124
torch_xla==2.6.0
torchsummary==1.5.1
torchvision==0.20.0+cu124
torchviz==0.0.3
tqdm==4.67.1
